html{
    background-color:  #343835;
    opacity: 0.9;
}

.DashBoard
{
    display: flex;
}

.DashBoard.Component{
    display: flex;
    flex-wrap: wrap;
}
.saveIcon.Component{
    display: flex;
    align-self: self-start;
    margin-left: auto;

}

.saveIcon.Component img{
    width: 100px;
    height: auto;

}

/* 
    P element is purposefully hidden, and should only show up 
    when the button is hovered over.
*/
.Btn.Component p{
    color: #7a857d;
    font-size: 10px;
    margin-left: 50%;
    margin-bottom: 1.0px;
   /* visibility: hidden; I did it like this first*/
    opacity: 0.0;
}

/* 
    The % unit is relative the parent element
    so in order to center my divs using the % unit 
    I have to know what is its parent element.
*/
.Btn.Component {
    margin-top: 5%; 
}

.Btn.Component button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.0);
    border: none;
    margin-left: 50%;
    width: auto;
    height: auto;
}

.Btn.Component button img {
    width: 40px;
    height: auto;

}

.Btn.Component button:hover{
    outline: none;
    transform: scale(1.1);
    background-color:  #3d423e;
}


.BotionTeacher
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    transform: scale(2.0);
}

.Chatbox.Component{

}
.Chatbox.Component.text{
    margin-left: 1.2em;
    margin-bottom: -2.0em;
    z-index:3;
    font-size: 20px;
    font-weight: 900;
    color: white;
}
/*Move the Chatbox component if you want to move 
both the chatbox and the teacher sprites.*/
.Chatbox.Component img{
    display:block;
    width: 100%;
    height: auto;
    z-index:0;
}



.teacher.Component{

}

.teacher.Component img{
}
