@import "tailwindcss";


.container{
    margin-top:27.2rem;    
    color: white;
    margin-bottom: 2rem;
}

.sectiontitle{
    width: 240%;
    opacity: 0.45;
    margin-left: -54.5rem;
    background: linear-gradient(to top, #bc715c ,#5b3125);
}

.title{
    opacity:1.0;
    font-size:32px;
    margin-left: 18.5rem;
}