@import "tailwindcss";

.maincontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3.5rem;
}

.background{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url("./library.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 105%;
    height: 800px;
}


.content h1 {
    font: size 3rem;
    margin-bottom: 1rem;
    color: white;
}

.content p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2rem;
}


.landingPageTitle{
    color: white;
    font-size: 82px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.landingPageText{
    color:white;
    font-size: 24px;
    text-align: center;
}



/*Move it down*/
.container{
    align-self: center;
    color: white;
    width: 100%;
}
/* */
.sectiontitle{    
    opacity: 0.45;
    background: linear-gradient(to top, white,#5b3125);
    text-align: center;
}

.title{
    color: #5b3125;
    opacity:1.0;
    font-size:32px;
    margin-left: 18.5rem;
}